<%= form_with(model: user) do |form|%>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
    <% if user.errors.has_key?(:name) %>
      <p class="text-danger"><%= user.errors[:name].first %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
    <% if user.errors.has_key?(:email) %>
      <p class="text-danger"><%= user.errors[:email].first %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :Telefone, style: "display: block" %>
    <%= form.text_field :phone %>
    <% if user.errors.has_key?(:phone) %>
      <p class="text-danger"><%= user.errors[:phone].first %></p>
    <% end %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
    <% if user.errors.has_key?(:cpf) %>
      <p class="text-danger"><%= user.errors[:cpf].first %></p>
    <% end %>
  </div>
  <br>
  <div>
    <%= form.submit (@user.new_record? ? "Criar Novo Usuário" : "Atualizar"), class:"btn btn-success  btn-custom" %>
  </div>
<% end %>
